/* montserrat-300 */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Montserrat Light'), local('Montserrat-Light'),
       url('/fonts/montserrat/montserrat-300.woff2') format('woff2'),
       url('/fonts/montserrat/montserrat-300.woff') format('woff');
}
  
/* montserrat-regular */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('/fonts/montserrat/montserrat-regular.woff2') format('woff2'),
       url('/fonts/montserrat/montserrat-regular.woff') format('woff');
}
  
/* open-sans-300 */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Open Sans Light'), local('OpenSans-Light'),
       url('/fonts/open-sans/open-sans-300.woff2') format('woff2'),
       url('/fonts/open-sans/open-sans-300.woff') format('woff');
}
  
/* open-sans-regular */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('/fonts/open-sans/open-sans-regular.woff2') format('woff2'),
       url('/fonts/open-sans/open-sans-regular.woff') format('woff');
}
  
/* open-sans-600 */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
       url('/fonts/open-sans/open-sans-600.woff2') format('woff2'),
       url('/fonts/open-sans/open-sans-600.woff') format('woff');
}
  
/* open-sans-700 */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('/fonts/open-sans/open-sans-700.woff2') format('woff2'),
       url('/fonts/open-sans/open-sans-700.woff') format('woff');
}
  
/* allerta-stencil-regular */
@font-face {
  font-family: 'Allerta Stencil';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Allerta Stencil'), local('AllertaStencil-Regular'),
       url('/fonts/allerta-stencil/allerta-stencil-regular.woff2') format('woff2'),
       url('/fonts/allerta-stencil/allerta-stencil-regular.woff') format('woff');
}
  
body {
  font-family: $secondary-font;
  font-size: 16px;
  color: $text-color;
  background: $body-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $text-color-dark;
  font-family: $primary-font;
  font-weight: 400;
}

p {
  font-size: 16px;
  color: $text-color;
  line-height: 26px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

h1 {
  font-size: 44px;
  line-height: 58px;

}

h2 {
  font-size: 33px;
  line-height: 45px;
  font-weight: 300;

}

h3 {
  font-size: 19px;
  font-weight: 400;
  color: $text-color-dark;
}

h4 {
  font-size: 16px;
  font-weight: 400;
}