<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="footer-logo">
          <!-- <img src="{{ .Site.Params.footerlogo | absURL}}" alt="logo"> -->
          KEXIMA
        </div>
        <p class="footer-description">
          {{ .Site.Params.footerDescription}}
        </p>
        <div class="footer-text-block">
          <p>
            {{ .Site.Params.address.address | safeHTML}}
          </p>
        </div>
      </div>
      {{ $socialIcon := .Site.Params.social}}
      <div class="col-lg-6 col-md-12 align-self-end">
        <div class="footer-icon">
          <ul>
            {{ range $socialIcon }}
            <li >
              <a target="_blank" href="{{ .url }}" target="_blank" rel="noopener noreferrer">
                {{ with .qrcode }}
                <div class="qrcode"><img src="{{ . }}"></div>
                {{ end }}
                <i
                  class="{{ .icon }}">
                </i>
              </a>
            </li>
            {{ end }}
          </ul>
        </div>
        <div class="footer-copyright-text">
          <ul>
            {{ $legal := .Site.Menus.legal }}
            {{ range $legal }}
              <li >
                <img src="{{ .Pre | absURL }}"> <a  href="{{ .URL | absURL }}" target="_blank" rel="noopener noreferrer">{{ .Name }}</a>
              </li>
            {{ end }}
          </ul>
        </div>
        <div class="footer-copyright-text">
          <p> {{ replace .Site.Params.copyright "{year}" now.Year | safeHTML }} </p>
          <ul>
            {{ $sitemap := .Site.Menus.sitemap }}
            {{ range $sitemap }}
              <li >
                <a  href="{{ .URL | absURL }}" target="_blank" rel="noopener noreferrer">{{ .Name }}</a>
              </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<button id="back-to-top" title="返回顶部"><i class="iconfont icon-up"></i></button>

{{ "<!-- Non Critical CSS -->" | safeHTML }}
{{$style :=  resources.Get "scss/non-critical.scss" | resources.ToCSS | resources.Minify }}
<link href="{{ $style.Permalink }}" rel="stylesheet" />

<script src="https://map.qq.com/api/js?v=2.exp&key=YDYBZ-UIVWI-JHZGR-ULFIV-ZG7BE-UXBKO&libraries=convertor,marker,geometry"></script>
<script>
window.addEventListener("load", function() {
  var section = document.getElementById("contact");
  var sectionPos = section.offsetTop;
  var map, marker, infoWindow;

  function initMap() {
    map = new qq.maps.Map(document.getElementById("qqMap"), {
      center: new qq.maps.LatLng(30.284495, 108.949367),
      zoom: 18,
      mapStyleId: "style1"
    });

    marker = new qq.maps.Marker({
      position: new qq.maps.LatLng(30.284495, 108.949367),
      icon: new qq.maps.MarkerImage(
        "https://mapapi.qq.com/web/lbs/javascriptGL/demo/img/markerNew.png",
        new qq.maps.Size(70, 70),
        new qq.maps.Point(0, 0),
        new qq.maps.Point(35, 35),
        new qq.maps.Size(70, 70)
      ),
      map: map,
      zIndex: 999
    });

    infoWindow = new qq.maps.InfoWindow({
      map: map,
      position: new qq.maps.LatLng(30.284495, 108.949367),
      content:
        "<div style='text-align:center'><img src='https://mapapi.qq.com/web/lbs/javascriptGL/demo/img/em.jpg'><br><strong>利川市科西码电子商务有限公司</strong></div>",
      zIndex: 1000
    });

    infoWindow.close();

    qq.maps.event.addListener(marker, "click", function() {
      infoWindow.open();
      infoWindow.setPosition(marker.getPosition());
    });
  }

  window.onscroll = function() {
    var scrollTop =
      window.pageYOffset || document.documentElement.scrollTop;
    var windowHeight =
      window.innerHeight || document.documentElement.clientHeight;
    if (scrollTop + windowHeight > sectionPos) {
      initMap();
      window.onscroll = null;
    }
  };

  const contactAriaElem = document.querySelector(".contact-aria");
  const qqMapElem = document.querySelector("#qqMap");
  qqMapElem.style.height = contactAriaElem.offsetHeight + "px";
});

</script>

{{ "<!-- VENDOR JS -->" | safeHTML }}
<script src="{{"vendor/jQuery/jquery.min.js" | absURL }}"></script>
<script src="{{"vendor/bootstrap/bootstrap.min.js" | absURL }}"></script>
<script src="{{"vendor/slick/slick.min.js" | absURL}}"></script>
<script src="{{"vendor/aos/aos.js" | absURL}}"></script>
<script src="{{"vendor/match-height/match-height.js" | absURL}}"></script>
<script src="{{"vendor/magnific-popup/magnific-popup.min.js" | absURL}}"></script>
<!-- {{ $formhandler := resources.Get "js/formhandler.js" | minify}} 
<script src="{{ $formhandler.Permalink}}"></script> -->
{{ $script := resources.Get "js/script.js" | minify}} 
<script src="{{ $script.Permalink}}"></script>
