{{define "main"}}
<section class="contact-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto col-md-12">
        <div class="page-header">
          <h2> {{ .Title }}</h2>
          <p>{{.Params.subTitle}}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto">
        {{.Content}}
        <script type='text/javascript' src='https://www.wjx.top/handler/jqemed.ashx?activity=OToQYFf&width=720&source=iframe&tm=1&sm=t'></script>
      </div>
    </div>
  </div>
</section>
{{end}}