{{define "main"}}
<section class="contact-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto col-md-12">
        <div class="page-header">
          <h2> {{ .Title }}</h2>
          <p>{{.Params.subTitle}}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto">
        {{.Content}}
        <div class="contact-form">
          <h2>联系表单</h2> 
          <form id="contact-form" class="row" action="{{ .Site.Params.fabFormURL }}" method="POST">
            <div class="col-md-6">
              <input type="text" class="form-control" id="exampleFormControlInput1" name="Name" placeholder="您的称呼">
            </div>
            <div class="col-md-6">
              <input type="email" class="form-control" id="validationCustom02" required="" name="email" placeholder="您的电子邮件 Email">
            </div>
            <div class="col-md-12">
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="8" name="message"
                placeholder="写点什么吧……"></textarea>
            </div>
            <div class="col-md-12">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck" name="checkbox" required>
                <label class="form-check-label" for="gridCheck">
                  <strong>*</strong> 我同意我提交的数据正在被收集和存储。
                </label>
              </div>
            </div>
            <div class="col-lg-12">
              <button type="submit" class="btn btn-primary" id="contact-form-button" formtarget="_blank">提交信息</button>
            </div>
            <p id="contact-form-status"></p>
          </form>
          <p class="contact-form-generator mt-3">
            （<a href="https://fabform.io/" target="_blank">Fabform 提供服务</a>）
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{{end}}
